/* AddDonationForm.css */
*{
    padding: 0px;
    margin: 0px;
        /* border: 1px solid gray; */
}

.topBar{
    height: 15vh;
    background-color: #4CAF50;
}

.title{
    margin: 30px;
}

.form-container{
    outline: 1px solid gray;
    padding: 20px;
}

