* {
  padding: 0;
  margin: 0;
  /* font-size: 18px; */
}

.topBar {
  width: 1440px;
  height: 82px;
  background-color: #379541cc;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
}
.title h1 {
  padding-left: 50px;
}

.vector {
  /* position: absolute; */
  width: 100%;
  height: 0px;
  top: 223px;
  border: 1px solid rgba(118, 118, 118, 0.5);
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px;
  padding: 10px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-container .MuiFormControl-root {
  flex: 1;
}

.flex-container {
  display: flex;
  justify-content: space-between; /* This will space out the children evenly */
  gap: 20px; /* Adjust the gap between items as needed */
}

/* It's a good idea to make the TextFields take equal width when flexed */
.flex-container .MuiFormControl-root {
  flex: 1;
}

#donorName {
  width: 10px;
}

