/* import Inter from google fonts. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

.topBar {
  width: 100%;
  height: 82px;
  background-color: #379541cc;
}

.title {
  /* flexed it to be vertically centered */
  display: flex;
  align-items: center;
  height: 100px;
}

.title h1 {
  padding-left: 50px;
}

.vector {
  width: 100%;
  border: 1px solid rgba(118, 118, 118, 0.5);
}

.form-container {
  padding: 20px;
  margin: 50px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-button {
  padding: 10px;
  margin-top: 15px;
  font-size: large;
  background-color: rgba(55, 149, 65, 0.8);
  color: white;
  cursor: pointer;
}
